.search1 {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background: #2f2f43;
  border-radius: 8px;
  height: 82px;
  width: 724px;
  margin-top: 144px;
  margin-left: 308px;
}
.search2 {
  position: absolute;
  height: 24px;
  left: 7.77%;
  right: 79.49%;
  top: calc(50% - 24px / 2);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Light / blue-gray / 400 */

  color: #94a3b8;
}
